body {
  background-color: rgb(139, 6, 6);
}

.darkDisplay {
  background-color: rgb(134, 24, 24);
}

.lighterDisplay {
  background-color: rgb(139, 51, 51);
}

.btn {
  background-color: rgb(255, 255, 255)!important;
  color: rgb(0, 0, 0) !important;
  font-weight: bolder !important; 
}
.btn:hover{
  background-color: rgb(215, 215, 215) !important;
  color: rgb(255, 0, 0) !important;
  
} 
